.dialogs{
    width: 100%;
    height: 100vh;
}

.dialogsItem {
    margin-right: 40px;
}

.activeLink {
    text-decoration: none;
    color: gold;
}

.link {
    text-decoration: none;
    color: black;
}
.dialogsContainer{
    display: flex;
}